#root {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #bae6fd;
  color: #0f172a;
}
